build/**
dist/**
.next/**
.turbo
*.db
.env*
!.env.example
.secrets
test.ts
*.log
.wrangler
wrangler.toml
.vite
coverage/
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.dev.vars

# Agent Tool
.deepseek/
TARGETS.md

# Bun
.bun/*
